* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333333;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 60px;
    margin-right: 10px;
}

.app-name {
    font-size: 1.5rem;
    color:  #FFFFFF ;
}
.app-name:hover{
    color: orange;
}

.navbar-search {
    width: 40%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 40px;
    background-color: white;
    color: #555555;

}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    
}

.body-options {
    display: flex;
    margin-top: 15px;
    width: 95%;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.body-options li {
    font-size: 20px;
    font-weight: 900;
    color: #333333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.body-options li a {
    font-size: 20px;
    font-weight: 900;
    color: #333333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
.body ul li a.active{

    text-decoration: none;
    background-color: #FFA500;
    border-radius: 5px;
    padding: 1px;
}

.body-options li:hover {
    background-color: #FFA500;
    padding: 1px;
}
.footer {
    display: flex;
    background-color: #333333;
    font-size: 8px;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 50px;

}

.about-me {
    margin-top: 60px;
    margin-left: 70px;
    margin-right: 70px;
}
.about-me h3{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 12px;
}
.about-me h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 25px;
}
.about-me h1{
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: rgb(171, 42, 63);
}
.about-me p {
    font-size: 25px;
}
.bmi-calc {
    margin-top: 100px;
    margin-left: 70px;
    font-size: 50px;
    color: rgb(171, 42, 63);   
}




/* BMI CALCULATOR */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; 
    background-color: white;
  }
  
  .container {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
    height: 400px;
  }
  .container h2 {
    font-size: 50px;
  }
  .container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
  }
  .containerinput {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #555;
  }
  
  input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
  }
  button:hover {
    background-color: #007bff;
  }
  .center {
    margin: 10px 10px 10px 10px;
  }


  /* LOVE CALCULATOR */
  .love-calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-color: white;
    font-family: Arial, sans-serif;
    margin-top: 100px;
  }
  
  .love-calc h1 {
    color: black;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: 350%;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid black;
    border-radius: 5px;
  }
  .result {
    margin-top: 20px;
    color: #ff1493;
    font-size: 1.2em;
    text-align: center;
  }


  
  
  
